<h4> In Theatres Today </h4>
<div class="main-left-panel no-padding-left"> 
    <div class="card" id = "main-card">
        <div id="main-card-title" style="font-size: 25px; color: white; font-weight: 700;">
            Rankings
        </div>
        <div class="card">
            <span
                *ngFor="let movie of movies let i = index"  
                class="card-item">
                <div class="numberCircle">{{ i + 1 }}</div>
                {{ movie.title }}
            </span>
        </div>
    </div>
</div>