<app-carousel></app-carousel>
<app-panel></app-panel>

<app-movie-input 
    [movie]="{'title': '20th Century Woman', 'imagePath': './img/default_poster.jpg'}"
    [elementWidth] = "200">
</app-movie-input>

<app-movie-input 
    [movie]="{'title': '20th Century Woman', 'imagePath': './img/default_poster.jpg'}"
    [elementWidth] = "300">
</app-movie-input>

<app-movie-input 
    [movie]="{'title': '20th Century Woman', 'imagePath': './img/default_poster.jpg'}"
    [elementWidth] = "400">
</app-movie-input>