body { 
    padding-top: 50px; 
    overflow-x: hidden;
    background-color: rgba(218, 218, 217, 0.81);
}

.well {
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    height: 35%;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    bottom: 0;
}

#sim-movie-block > .well {
    width: 67%;
    margin-left: 16.5%;
    height: 30%;
    position: absolute;
}

.glyphicon-star-empty {
    margin-top: 3px;
    font-size: 23px;
}

.glyphicon-star {
    margin-top: 3px;
    font-size: 23px;
}

.carousel-inner > .item > .carouselImg {
    width: 100%;
    height: 300px;
}

.carouselMainImg {
    width: 100%;
    height: 400px;
    background-image: url(../img/carousel_1.jpg);
}

#side-bar {
    display: inline-block;
}

#content {
    display: inline-block;
}

#movie-detail-poster {
    margin-top: -70px;
    float: left;
    margin-left: 40px;
    padding-bottom: 30px;
}

#movie-content {
    float: left;
}

.modal-lg {
    max-width: 910px;
}

#movie-title {
    font-size: 25px;
    font-weight: 900;
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

#movie-detail-rating > #detail-stars > .glyphicon-star,
#movie-detail-rating > #detail-stars > .glyphicon-star-empty,
#movie-detail-rating > #stars > .glyphicon-star,
#movie-detail-rating > #stars > .glyphicon-star-empty  {
    font-size: 30px;
}

#movie-detail-rating {
    margin-left: 30px;
    margin-top: 10px;
}

#detail-stars-text {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
}

.modal-body {
    padding: 0;
}

#content-wrapper > .row {
    margin-right: 0;
    margin-left: 0;
}

#movie-info {
    display: table;
    border-bottom: 1px solid lightgray;
}

#synopsis, #cast, #comments {
    padding-left: 30px;
}

#side-bar {
    border-left: 1px solid lightgray;
    padding-top: 15px;
}

#cast-name {
    font-weight: bold;
}

#cast-as {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.59);
}

#cast-wrapper {
    padding-bottom: 20px;
}

#cast-info {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.8;
}

#sim-movie-block {
    display: table;
    position: relative;
}

#sim-movie-block > .thumbnail {
    display: inline-block;
}

#sim-movie-info {
    display: inline-block;
}

#cast {
    border-bottom: 1px solid lightgray;
}

#load-more-btn {
    width: 70%;
    margin-left: 16%;
    margin-bottom: 5%;
}

#well-wrapper {
    overflow: hidden;
    width: 100%;
    position: absolute;
    padding-right: 30px;
    bottom: 0;
}

.my-jumbotron {
    background-image: url("./img/personal.jpg");
    background-size: 100% 190%;
    height: 300px;
    padding: 0;
    margin: 0;
}

.recommendation-container {
    padding-top: 30px;
}

#account-image {
    width: 90px;
    height: 90px;
}

.modal-dialog {
    margin-top: 80px;
}

.profile-card {
    height: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #545151;
}

.panel-login {
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 20px;
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}

.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 64px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
	border-color: #b5c4f7;
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: 64px;
	font-weight: normal;
	padding: 14px 0;
}

.btn-login:hover,
.btn-login:focus {
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.forgot-password {
	color: #008489;
    position: absolute;
    right: 5%;
}

.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
}

#facebook-login {
    margin-bottom: 6px;
    margin-top: 15px;
    background-color: #3B5998;
    border-color: #3B5998;
    font: 16px system-ui;
}

#facebook-login:hover,
#facebook-login:focus {
    border-color: #4568b2;
    background-color: #4568b2;
    color: #fff;
}

#google-login {
    background-color: #fff;
    border-color: #c4c4c4;
    color: #484848;
    font: 15px system-ui;
    margin-bottom: 12px;
}

#google-login:hover,
#google-login:focus {
    border-color: #aaa;
}

#plain-login {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    font: 15px system-ui;
}

#plain-login:hover,
#plain-login:focus {
    border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
}

.carousel-inner > .item > .carousel-caption {
    left: 10%;
    bottom: 10%;
    width: 30%;
    text-align: left;
    font-weight: 600;
}

#caption-label {
    font-size: 18px;
}

#caption-movie-title {
    font-size: 34px;
}

#caption-movie-rating, #caption-movie-tags {
    font-size: 13px;
}

.content-container {
    margin-top: 50px;
}

#in-theatres > h4 {
    padding-left: 5px;
    font-family: system-ui;
}

.list-group {
	list-style: decimal inside;
}

.list-group-item {
	display: list-item;
}

.main-panel {
    background-color: #ff7e82;
    line-height: 2;
    font-family: system-ui;
    font-size: 17px;
    color: #fff;
}

#main-panel-body-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.numberCircle {
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #fff;
    color: #ff7e82;
    text-align: center;
    font: 19px Arial, sans-serif;
    display: inline-block;
    margin-right: 7px;
}

.no-padding-left {
    padding-left: 0;
}

.custom-col-md-3 {
    width: 24.7%;
}

.custom-col-md-6 {
    width: 47%;
}

.main-right-panel {
    padding-top: 12px;
    display: inline-block;
    overflow: hidden;
}

.main-left-panel {
    width: 25%;
    display: inline-block;
}

.main-movie-block {
    position: relative;
}

.main-movie-block > .main-well-wrapper {
    padding-right: 0 !important;
}

.main-well {
    margin-bottom: 0;
}

.in-theatres {
    display: table;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.genre-container {
    overflow: hidden;
    width: 4200px;
}

.profile-graph-card {
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #545151;
    width: 47%;
    display:inline-block;
    float: left;
}

.profile-graph-card-title {
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-left: 20px;
}

.genre-movie-block > #well-wrapper {
    padding-right: 0;
}

#genre-title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    color: #545151;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.genre-top {
    height: 320px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 15px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    /*background: linear-gradient(rgba(255, 128, 132, 0.15), #fff);*/
    margin-bottom: 20px;
}

.genre-movie-block {
    width: 183px;
    float: left;
    margin-right: 30px;
    position: relative;
}

.genre-top-personal {
    position: relative;
    top: 20px;
}

.profile-picture {
    width: 20%;
    display: inline-block;
    width: 20%;
    display: inline-block;
    font-size: 21px;
}

.profile-card-wrapper {
    display: table;
    width: 100%;
}

.profile-info {
    display: inline-block;
    margin-left: 5%;
}

.profile-card-picture-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.profile-card-blocks {
    background-color: linear-gradient(rgba(255, 128, 132, 0.15), #fff);
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;

}

.profile-card-blocks-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 900;
    color: #545151;
}


#main-card {
    background-color: #ff7e82;
    line-height: 2;
    font-family: system-ui;
    font-size: 17px;
    color: white;
}
