<div 
    class="card"
    (mouseover)="labelShow = true"
    (mouseleave)="labelShow = false"
    (click)="modalTrigger()"
    [ngStyle]="{'width': elementWidth, 'height': elementHeight}">
    <img 
        class="card-img" 
        [src]="movie.imagePath"
        [ngStyle]="{'width': elementWidth, 'height': elementHeight}">
    
    <div 
        class="card-img-overlay card-img-custom"
        *ngIf="true">

        <h4 class="card-title"> {{ movie.title }}</h4>

        <app-movie-stars [numStars]="3"></app-movie-stars>

    </div>
</div>

<!--<div 
    (mouseover)="labelShow = true"
    (mouseleave)="labelShow = false">

    <a 
        (click)="modalTrigger()"
        class="thumbnail" >
        <img [src]="movie.imagePath">
    </a>

    <div id="well-wrapper">
        <div class="well" ng-show="movie.show">
            <div id="title"> {{ movie.title }} </div>
            <div id="stars">
                <span 
                    *ngFor="let star of stars"
                    [ngClass]="{'glyphicon-star': star.fill, 'glyphicon-star-empty': !star.fill}"
                    (mouseover)="focusStars(star.id)"
                    (mouseleave)="unfocusStars()"
                    class="glyphicon"
                    >
                    </span>
            </div>
        </div>
    </div>

</div>-->