<app-carousel [slidePath]="slides"></app-carousel>
<div class="row">
    <div id="content" class="col-md-8">
        <div id="movie-info">
            <div class="col-md-4 col-md-offset-1" id="movie-detail-poster">
                <img [src]="'http://image.tmdb.org/t/p/w342' + movie.poster_path" class="detail-poster">
            </div>

            <div class="col-md-7" id="movie-content">
                <div id="movie-title">
                    {{ movie.title }}
                </div>

                <div id="movie-detail-rating">
                    <app-movie-stars [movie]="movie"></app-movie-stars>

                    <div id="detail-stars-text">
                        Average Rating: 4.2 (3,812 Reviews)
                    </div>

                    <h4 style="margin-bottom: 0"> RATE MOVIE: </h4>

                    <app-movie-stars [movie]="movie"></app-movie-stars>    
                </div>
            </div>
        </div>

        <!--Movie Synopsis-->
        <div id="synopsis">
            <h4>SYNOPSIS</h4>
            <p style="font-size: 13px; color: rgb(88, 85, 85);">
                {{ movie.overview }}
            </p>
        </div>

        <!--Cast-->
        <div id="cast">
            <h4> CAST </h4>
            <div class="row">
                <!--CAST BLOCK-->
                <div
                    *ngFor="let actor of movie.cast" 
                    id="cast-wrapper" 
                    class="col-md-3">
                    <img [src]="'http://image.tmdb.org/t/p/w185' + actor.profilePath" class="detail-modal-cast-image">
                    <div id="cast-info">
                        <div id="cast-name"> {{ actor.name }} </div>
                        <div id="cast-as"> {{ actor.character }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SIDE BAR-->
    <div id="side-bar" class="col-md-4">
        <div id="trailer">
            <div class="embed-trailer embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" [src]="'http://www.youtube.com/embed' + movie.trailer_path | safe"></iframe>
            </div>
        </div>

        <div id="related-movies">
            <h4> SIMILAR MOVIES </h4>
            <!--CAST BLOCK-->
            <app-movie-input
                *ngFor="let mov of [1,2,3,4,5,6]"
                [movie] = "movie"
                [elementWidth] = 200
                class="detail-movie-input">
            </app-movie-input>
        </div>

        <button type="button" class="btn btn-info btn-block" id="load-more-btn">Load More</button>
    </div>

</div>