<div 
    class="card custom-card"
    (mouseover)="labelShow = true"
    (mouseleave)="labelShow = false"
    (click)="openModal()"
    [ngStyle]="{'width': Width, 'height': Height}">
    <img 
        class="card-img" 
        [src]="movie.imagePath"
        [ngStyle]="{'width': ImgWidth, 'height': ImgHeight}">
    
    <div 
        [ngStyle]="{'font-size': fontSize, 'width': Width}"
        class="card-img-overlay card-img-custom"
        *ngIf="labelShow">

        <div class="card-title"> {{ movie.title }}</div>
        <app-movie-stars [numStars]="3"></app-movie-stars>

    </div>
</div>