<template #signin let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="login-register-form">
      <div class="panel-login">
        <div class="panel-heading">
          <div class="row">
							<div class="col-md-12">
                <input type="submit" id="facebook-login" class="form-control btn btn-login" value="Log in with Facebook">
              </div>

            <div class="col-md-12">
                <input type="submit" id="google-login" class="form-control btn btn-login" value="Log in with Google">
            </div>
          </div>
          <hr>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" role="form" style="display: block;" [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
                <div class="form-group">
                  <input type="text" id="username" class="form-control" placeholder="Username" value="" formControlName="userName">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" formControlName="password">
                </div>

                <div class="form-group">
                  <input type="checkbox" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                                      <a class="forgot-password">Forgot Password?</a>
                </div>

                <div class="form-group" *ngIf="signinError">
                  <label style="color: red; font-weight: bold"> Sign In Failed: Please check your username / password </label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="submit" id="plain-login" class="form-control btn btn-login" value="Log in" [disabled]="!signInForm.valid">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template #signup let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="login-register-form">
      <div class="panel-login">
        
        <div class="panel-heading">
          <div class="row">
              <div class="col-md-12">
                <input type="submit" id="facebook-login" class="form-control btn btn-login" value="Sign up with Facebook">
              </div>

            <div class="col-md-12">
                <input type="submit" id="google-login" class="form-control btn btn-login" value="Sign up with Google">
            </div>
          </div>
          <hr>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" role="form" style="display: block;" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
                <div class="form-group">
                  <input 
                    type="text" 
                    id="username" 
                    class="form-control" 
                    placeholder="Username" 
                    value=""
                    formControlName="userName">
                </div>
                <div class="form-group">
                  <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    placeholder="Password"
                    formControlName="password">
                </div>
                <div class="form-group">
                  <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    placeholder="Email"
                    formControlName="email">
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input 
                        type="submit" 
                        id="plain-login" 
                        class="form-control btn btn-login" 
                        value="Sign Up"
                        [disabled]="!signUpForm.valid">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<nav class="navbar navbar-toggleable-md navbar-light fixed-top" style="background-color: #F8F8F8	; padding-left: 160px">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">CINETECH</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-right: 6%">
      <li class="nav-item">
        <a class="nav-link" href="/recommendation">Recommendation <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/personal">Personal Page</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 search-form" style = "margin-right: 6%;" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <div class="form-group">
        <input class="form-control mr-sm-2" type="text" id = "search" placeholder="Search" style= " width: 250px;" formControlName="search">
      </div>
      <div class="form-group">     
        <button class="btn btn-outline-success my-2 my-sm-0" style=" color: rgba(0, 0, 0, 0.901961); background-color: #fff; border-color: rgba(0,0,0,.15)" type="submit">Search</button>
      </div>
    </form>

    <button 
      type="button"
      *ngIf="!isLoggedIn()"
      (click)="open(signin)" 
      class="btn btn-primary" 
      style="margin-right: 10px; background-color: #A9A9A9	; border-color:	#A9A9A9	"> Sign In </button>
    <button 
      type="button"
      *ngIf="!isLoggedIn()"
      (click)="open(signup)" 
      class="btn btn-primary" 
      style= "margin-right: 10px; background-color:	#A9A9A9	; border-color:	#A9A9A9	"> Sign Up </button>
    <button 
      type="button"
      *ngIf="isLoggedIn()"
      (click)="logout()"
      class="btn btn-primary" 
      style= " background-color:	#A9A9A9	; border-color:	#A9A9A9	"> Log Out </button>
  </div>
</nav>